
<!-- <div>
<nav class="navbar navbar-expand-lg navbar-light   navbar-fixed-top " style="background-color: #242333; ">
  <div class="container-fluid">
    <a class="navbar-brand logo " routerLink="/home" style="color: #808080;"><span style="color:  #D2042D ;">E-</span>COMMERCE</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" style="color:#2E8BC0;"  >
      <span class="navbar-toggler-icon" ></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarNav">
      <ul class="navbar-nav ms-auto ">
        <li class="nav-item ">
          <a class="nav-link active " routerLink="/home"  style="color: #D2042D;" >Home</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" routerLink="/products">Products</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link " routerLink="/contact-us">Contat Us</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link " routerLink="/about-us">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="ManagementModule/admin-login"><button class="btn " style="color: black; background-color:#D2042D ;"> Sign-In/Login-In</button></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
</div> -->




<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <a class="navbar-brand logo " routerLink="/home" ><i class="fas fa-couch"></i></a> -->
</head>
<body>
    <nav class="navbar" style="background-color: #2B2B2D; ">
        <div class="navbar-container container">
            <input type="checkbox" name="" id="">
            <div class="hamburger-lines" style="color: white;">
                <span class="line line1"></span>
                <span class="line line2"></span>
                <span class="line line3"></span>
            </div>
            <ul class="menu-items">
                <li><a routerLink="/home" >Home</a></li>
                <li><a routerLink="/products">Products</a></li>
                <li><a routerLink="/contact-us">Contat Us</a></li>
                <li><a routerLink="/about-us">About us</a></li>
                <li><a href="#">Testimonial</a></li>
                <li class="nav-item">
                  <button class="btn mt-4-md  text-white btn-outline-dark btn-lg border-0 " style="background-color: #D2042D;  " routerLink="ManagementModule/admin-login">Sign-In/Login-In</button> <!-- <a class="nav-link" routerLink="ManagementModule/admin-login"><button class="btn " style="color: black; background-color:#D2042D ;"> Sign-In/Login-In</button></a> -->
                </li>
            </ul>
            <!-- <a class="navbar-brand logo " routerLink="/home" ><i class="fas fa-couch"></i></a> -->
            <a class="navbar-brand logo  " routerLink="/home" ><i class="fas fa-couch fa-sm"></i>Comfort</a>
        </div>
    



