 nav ul li a{
    color: #808080 ;
    font-size: 20px;
    padding-inline: 20px;
   
    
}

button{
    color: #2E8BC0;
}

.logo{
    font-size: 37px;
    margin-left: 50px;
}

nav ul li a:hover{
    color: white;
}