
<form [formGroup]="formproduct" (ngSubmit)="SubmitmyData()">
<table  cellpadding="14">
<tr>
  
  <td><label for="inputPassword5" class="form-label"  required>Product Name</label>
    <input type="text" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock" formControlName="ProductName"></td>
    

   <td><label for="inputPassword5" class="form-label">Product Quantity</label>
    <input type="text" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock" formControlName="ProductQuantity">
    </td>
  
</tr>
 

<tr>
  
  <td><label for="inputPassword5" class="form-label">Product Price</label>
    <input type="text" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock" formControlName="ProductPrice"></td>
    

   <td><label for="inputPassword5" class="form-label">Product Material</label>
    <input type="text" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock" formControlName="ProductMaterial" >
    </td>
  
</tr>

<tr>
  <div class="form-floating">
    <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 150px;   width:270%; "  formControlName="EnterDescription"></textarea>
    <label for="floatingTextarea2" > Enter Description</label>
  </div>
</tr>



<tr>
<td>
  <div class="form-floating mb-3">
    <input type="text" class="form-control" id="floatingInput" placeholder="FABRIC/MATERIAL" formControlName="color" >
    <label for="floatingInput">color</label>
  </div>
  <div class="form-floating">
    <input type="text" class="form-control" id="floatingPassword" placeholder="FABRIC/MATERIAL" formControlName="LogoMaterial" >
    <label for="floatingPassword">Logo Material</label>
  </div>
</td>


</tr>

<tr>


  <td>  <button class="btn btn-outline-secondary dropdown-toggle " type="button" data-bs-toggle="dropdown" aria-expanded="false">Category</button>
    <ul class="dropdown-menu">
      <li *ngFor="let data of CategoryArray"  formControlName="Category">{{data}}</li>
      <li *ngFor="let data of CategoryArray"  formControlName="Category">{{data}}</li>
    </ul>
    
  </td>
 </tr>

<tr>
  <td>
    <div class="row ">
      <input type="file" name="" id="" multiple>
    </div>
  </td>
</tr>

 <tr>
  <button class="btn btn-outline-success ms-4"> Submit</button>
 </tr>

 <tr>
  <label for="" class="tag">Select Size</label>
  <div class="mb-3">
    <ng-container *ngFor="let item of selectSize" >
    <input type="checkbox" class="form-check-input" [value]="item" [id]="item">
    <label class="form-check-label mx-2" [for]="item">
      {{item}}
    </label>
  </ng-container>
  </div>
 </tr>
</table>




</form>