
form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    border: 1px solid black;
}
.tag{
  font-size: 14px;
 font-weight: bold;
 margin-left: 5px;
}

.selectSize>input{
    display: none;
  }
  .selectSize>label{
    display: inline-block;
  width: 50px;
  height: 50px;
  text-align: center;
  border: 1px solid #ddd;
  line-height: 50px;
  cursor: pointer;
  margin-right: 5px;
  }
  /* .form-check-input{
    
  } */
 .sizelabel{
  background-color: white;
  color: black;
 }
 .sizelabel:hover{
  background-color: black;
  color: white;
 }
 
 h2{
  margin-left: 34%;
  
 }







