
<form >
<table  cellpadding="14">
<tr>
  
  <td><label for="inputPassword5" class="form-label"  required>Product Name</label>
    <input type="password" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock"></td>
    

   <td><label for="inputPassword5" class="form-label">Product Quantity</label>
    <input type="password" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock">
    </td>
  
</tr>
 

<tr>
  
  <td><label for="inputPassword5" class="form-label">Product Price</label>
    <input type="password" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock"></td>
    

   <td><label for="inputPassword5" class="form-label">Product Material</label>
    <input type="password" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock">
    </td>
  
</tr>

<tr>
  <div class="form-floating">
    <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 150px;   width:270%; " ></textarea>
    <label for="floatingTextarea2" > Enter Description</label>
  </div>
</tr>



<tr>
<td>
  <div class="form-floating mb-3">
    <input type="text" class="form-control" id="floatingInput" placeholder="FABRIC/MATERIAL">
    <label for="floatingInput">color</label>
  </div>
  <div class="form-floating">
    <input type="text" class="form-control" id="floatingPassword" placeholder="FABRIC/MATERIAL">
    <label for="floatingPassword">Logo Material</label>
  </div>
</td>


</tr>

<tr>
  <td><input type="password"    style="width: 150%;"    id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock" placeholder="FABRIC/MATERIAL"></td>

  <td>  <button class="btn btn-outline-secondary dropdown-toggle set" type="button" data-bs-toggle="dropdown" aria-expanded="false">Category</button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">MEN</a></li>
      <li><a class="dropdown-item" href="#">WOMEN</a></li>
    </ul>
    
  </td>
 </tr>

<tr>
  <td>
    <div class="row px-3">
      <input type="file" name="" id="" multiple>
    </div>
  </td>
</tr>

 <tr>
  <button class="btn btn-outline-success ms-4"> Submit</button>
 </tr>
</table>




</form>