
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url(https://fonts.googleapis.com/css?family=Expletus+Sans:600);
/*==========SCALE-IN==========*/
@keyframes scale-in {
     0%   {transform: scale(10, 10); opacity: 0;}
    100% {transform: scale(1, 1); opacity: 1;}
}

@keyframes scale-in {
    0%   {transform: scale(10, 10); opacity: 0;}
    100% {transform: scale(1, 1);  opacity: 1;}
}
/*==========ROLL-OUT==========*/
@keyframes roll-out {
    0%   {width: 0;}
    100% {width: 100%; }
}
@keyframes roll-out {
    0%   {width: 0;}
    100% {width: 100%; }
}
body{
   background: white;
}
main{
  width: 100%;
  overflow: hidden;
  font-family: 'Expletus Sans', cursive;
}
.hero{
  width: 100%;
  max-width: 1200px;
  height: 500px;
  text-align: center;
  margin: 0 auto;
  background:white ;
  position: relative; 
  color: black;
}

.hero h1{
  font-size: 3.1em;
  margin: auto;
  position: absolute; 
  top: 120px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  

}
.hero p{
    font-size: 1.5em;
    margin: auto;
    position: absolute;
    top: 220px;
    left: 0;
    right: 0;
    bottom: 0;
     z-index: 1;
  }
.hero img{
  width: 100%;
}
.bar{
  width: 100%;
  height: 200px;
  background: -moz-linear-gradient(289deg, white 0%, white 36%, white 100%);
  background: -webkit-linear-gradient(289deg, white 0%,white 36%, white 100%);
  background: -ms-linear-gradient(289deg,white 0%,white 36%, white 100%);
  background: linear-gradient(161deg, white 0%, white 36%, white 100%);
  opacity: 0.3;
  position: absolute; 
  z-index: 0;
  left: 0;
  top: 90px;
  -ms-transform-origin: 100% 0%;
  -webkit-transform-origin: 100% 0%;
  transform-origin: 100% 0%;
   -webkit-animation: roll-out 1.2s ease-out ;
  -moz-animation: roll-out 1.2s ease-out ;
    animation: roll-out 1.2s ease-out ; 
}
.hero h1, .hero p{
  -webkit-animation: scale-in 1.3s ease-out;
  -moz-animation: scale-in 1.3s  ease-out;
    animation: scale-in 1.3s ease-out; 
}


@media all and (max-width: 768px) {
  .hero{
    height: 50vw;
  }
  .bar{
    height: 26vw;
    top: 10vw;
  }
  .hero h1{
    font-size: 8vw;
    top: 13vw;
  }
  .hero p{
    font-size: 3vw;
    top: 27vw;
  }
 
}

h2{
    margin-top: 40px;
    display: flex;
    justify-content: center;
}
h3{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}


  
.img-card {
    width:300px;
    position: relative;
    border-radius: 5px;
    text-align: left;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
    -o-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);        
}





body{
    font-family: 'Roboto', sans-serif;
}

.wrapper{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
}
.card{
   max-width: 400px;
    min-height: 250px;
    background: white;
    padding: 30px;
     border-radius: 3px;
    box-sizing: border-box;
    color: rgb(22, 13, 13);
    margin:20px;
     padding: 10px;
}
.card:nth-child(2){
   background: white;
}
.card:last-child{
   background: white;
}
.card-title{
    margin-top: 0;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1.2px;
}
.card-content{
    font-size: 14px;
    letter-spacing: 0.5px;
    line-height: 1.5;
}
.card-btn{
    all: unset;
    display: block;
    margin-left: auto;
    border: 2px solid rgb(24, 14, 14);
    padding: 10px 15px;
    border-radius: 25px;
    font-size: 10px;
    font-weight: 600;
    transition: all 0.5s;
    cursor: pointer;
    letter-spacing: 1.2px;
}
.card-btn:hover{
   color:green;
   background: rgb(22, 16, 16);
}
.card:nth-child(2) .card-btn:hover{
   color:#4181ee;
   background: #FFF;
}
.card:last-child .card-btn:hover{
   color:#673ab7;
    background: #FFF;
}

.down{
  margin: 10px;
  padding: 5px 15px;
  align-items: center;
  margin-top: 30px;
  border: 1px solid black;
}
.downbtn{
  display: flex;
  justify-content: center;
  align-items: center;
}

.down:hover{
 background-color:  #D2042D;
 color: white;
}


/* main {

  max-width: 1200px;
  margin: auto;
  min-height: 100vw;
} */

h2 {
  padding: 20px 0px;
  text-align: center;
}

.card-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  margin:  0px 10px;
}

.card {
  width: 340px;
  padding: 3px;
  margin: 10px;

  border-radius: 2px;
  /* box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15); */
  background-color: white;
}


.card > img {
  border-radius: 2px;
  max-width: 100%;
  margin-bottom: 10px;
  height: auto;
}

.card h3 {
  color: purple;
}

.card p {
  color: #757575;
  line-height: 1.5;
  padding-top: 10px;
}




  /* use display:inline-flex to prevent whitespace issues. alternatively, you can put all the children of .rating-group on a single line */
  .rating-group {
    display: inline-flex;
  }
  
  /* make hover effect work properly in IE */
  .rating__icon {
    pointer-events: none;
  }
  
  /* hide radio inputs */
  .rating__input {
   position: absolute !important;
   left: -9999px !important;
  }

  /* set icon padding and size */
  .rating__label {
    cursor: pointer;
    padding: 0 0.1em;
    font-size: 2rem;
  }
  
  /* set default star color */
  .rating__icon--star {
    color: orange;
  }
  
  /* set color of none icon when unchecked */
  .rating__icon--none {
    color: #eee;
  }

  /* if none icon is checked, make it red */
  .rating__input--none:checked + .rating__label .rating__icon--none {
    color: red;
  }

  /* if any input is checked, make its following siblings grey */
  .rating__input:checked ~ .rating__label .rating__icon--star {
    color: #ddd;
  }

  /* make all stars orange on rating group hover */
  .rating-group:hover .rating__label .rating__icon--star {
    color: orange;
  }

  /* make hovered input's following siblings grey on hover */
  .rating__input:hover ~ .rating__label .rating__icon--star {
    color: #ddd;
  }
  
  /* make none icon grey on rating group hover */
  .rating-group:hover .rating__input--none:not(:hover) + .rating__label .rating__icon--none {
     color: #eee;
  }

  /* make none icon red on hover */
  .rating__input--none:hover + .rating__label .rating__icon--none {
    color: red;
  }



  .rating__icon {
    pointer-events: none;
  }
  
  /* hide radio inputs */
  .rating__input {
   position: absolute !important;
   left: -9999px !important;
  }

  /* set icon padding and size */
  .rating__label {
    cursor: pointer;
    /* if you change the left/right padding, update the margin-right property of .rating__label--half as well. */
    padding: 0 0.1em;
    font-size: 2rem;
  }

  /* add padding and positioning to half star labels */
  .rating__label--half {
    padding-right: 0;
    margin-right: -0.6em;
    z-index: 2;
  }
  
  /* set default star color */
  .rating__icon--star {
    color: orange;
  }
  
  /* set color of none icon when unchecked */
  .rating__icon--none {
    color: #eee;
  }

  /* if none icon is checked, make it red */
  .rating__input--none:checked + .rating__label .rating__icon--none {
    color: red;
  }

  /* if any input is checked, make its following siblings grey */
  .rating__input:checked ~ .rating__label .rating__icon--star {
    color: #ddd;
  }
  
  /* make all stars orange on rating group hover */
  .rating-group:hover .rating__label .rating__icon--star,
  .rating-group:hover .rating__label--half .rating__icon--star {
    color: orange;
  }

  /* make hovered input's following siblings grey on hover */
  .rating__input:hover ~ .rating__label .rating__icon--star,
  .rating__input:hover ~ .rating__label--half .rating__icon--star {
    color: #ddd;
  }
  
  /* make none icon grey on rating group hover */
  .rating-group:hover .rating__input--none:not(:hover) + .rating__label .rating__icon--none {
     color: #eee;
  }

  /* make none icon red on hover */
  .rating__input--none:hover + .rating__label .rating__icon--none {
    color: red;
  }










