   <body>
    <main>
        <div class="hero">
          <h1>WELCOME TO E-COMMERCE WEBSITE <br><br>
            <button style="color: black; background-color: #808080;" class="btn btn-light">VIEW ALL PRODUCTS</button>
            </h1>
           <div class="bar" ></div>
        </div>
      </main>


     
    </body>
    

    <div>
        <h2> <span style="color: #D2042D ;">Furture</span> &nbsp;  Furniture</h2>
      </div>

      <div>
        <h3 class="mt-3">We'll tailor our advice for you</h3>
      </div>



   
      <div class="wrapper mt-5">
      <div class="card">
        <img src="../../../../assets/pic/table1.jpg">
          
              <p class="card-content " style="color: black;">DINING ROOM FURNITURE, DINING TABLES</p>
              <p>
                Logan Dining Table</p>
             <p>₨78,000</p>
              <button style="color: black; background-color: #808080;" class="btn btn-light">VIEW ALL </button>
          </div>
          <div class="card">
            <img src="../../../../assets/pic/table2.jpg">
              <p class="card-content">DINING ROOM FURNITURE, DINING TABLES</p>
              <p>
                Logan Dining Table</p>
             <p>₨78,000</p>
             <button style="color: black; background-color: #808080;" class="btn btn-light">VIEW ALL </button>
          </div>
          <div class="card">
            <img src="../../../../assets/pic/table3.jpg">
              <p class="card-content">DINING ROOM FURNITURE, DINING TABLES</p>
              <p>
                Logan Dining Table</p>
             <p>₨78,000</p>
              <button style="color: black; background-color: #808080;" class="btn btn-light">VIEW ALL </button>
          </div>
      </div>
    

      

      <div>

        <h2><span style="color: #D2042D ;">Bestsellers </span> &nbsp; Products</h2>
        <div class="d-grid  d-md-block d-grid  d-md-flex">
          <button class="down">Change City</button>  
          
          <button class="down">Change City</button>
         <button class="down">Change City</button>
           <button class="down">Change City</button>
           <button class="down">Change City</button>
        <button class="down">Change City</button>
         
         
       
      </div>
      </div>
     