


  
<script src="https://kit.fontawesome.com/032176dfd7.js" crossorigin="anonymous"></script>
<br><br><br>
<br><br><br>


  <section class="container-fluid hero">
    <div class="container" >
        <div class="row letters">
            <div class="col-md-12 py-5 ">
           <h1 class="image-h1  mt-5-md py-4-md  mt-5-lg  py-4-lg text-center" style="margin-right: 80%; color: white;">Get Up<br>Dress Up <br>Show Up</h1>
           <h4 class="image-h4 mt-4-md py-2-md" style="color: white;">Deliverd to your Doorstep</h4>
           <button class="btn mt-4-md  text-white btn-outline-dark btn-lg border-0 " style="background-color:  #D2042D; width:250px ; z-index: 15">SHOP</button>
            </div>
        </div>
    </div>
  </section>
  
  <div class="back-video  ">
    <video  autoplay loop muted plays-inline   class="od-VideoCanvas-video">
        <source src="../../../../assets/pic/vid.mp4" type="video/mp4" width="100%"  >
    </video>
  </div>









<div class="fur" >
  <h2> <span style="color: #D2042D ;">Furture</span> &nbsp; Furniture</h2>
</div>

<div>
  <h3 class="mt-3">We'll tailor our advice for you</h3>
</div>




<div class="wrapper mt-5">
  <div class="card">
    <img src="../../../../assets/pic/table1.jpg">

    <p class="card-content ms-2" style="color: black;">DINING ROOM FURNITURE, DINING TABLES</p>
    <p class="ms-2">
      Logan Dining Table</p>
    <p class="ms-2">₨78,000</p>
    <button style="color: black; background-color: #808080;" class="btn btn-light">VIEW ALL </button>
  </div>
  <div class="card">
    <img src="../../../../assets/pic/table2.jpg">
    <p class="card-content ms-2">DINING ROOM FURNITURE, DINING TABLES</p>
    <p class="ms-2">
      Logan Dining Table</p>
    <p class="ms-2">₨78,000</p>
    <button style="color: black; background-color: #808080;" class="btn btn-light">VIEW ALL </button>
  </div>
  <div class="card">
    <img src="../../../../assets/pic/table3.jpg">
    <p class="card-content ms-2">DINING ROOM FURNITURE, DINING TABLES</p>
    <p class="ms-2">
      Logan Dining Table</p>
    <p class="ms-2">₨78,000</p>
    <button style="color: black; background-color: #808080;" class="btn btn-light">VIEW ALL </button>
  </div>
</div>
<div>




  <div class="row">
    <div class="col-sm-6 two">
      <div class="card">
      
          <img src="../../../../assets/pic/admin2.jfif" style="width:400%;">
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>

  <h2><span style="color: #D2042D ;">Bestsellers </span> &nbsp; Products</h2>
  <!-- <div class="downbtn">
    <a class="btn  down  " href="#" role="button" style="background-color: #D2042D;color: whitesmoke;">All</a>
    <button class="btn  down" type="submit">DINING TABLE</button>
    <button class="btn  down" type="submit">DOUBLE BED</button>
    <button class="btn  down" type="submit">SOFA SET</button>
    <button class="btn  down" type="submit">CENTER TABLE</button>
    <button class="btn  down" type="submit">OFFICE CHAIR</button>
  </div> -->
</div>






<section class="card-row mt-5">
  <article class="card">
    <img src="../../../../assets/pic/admin2.jfif" alt="exposed brick wall in a hipster cafe">
    <h4 class="mt-4 ms-3">CENTER TABLE</h4>
    <p>My local cafe. I highly recommend a visit to the local hipster cafe, Two Slopes. Even though over 50's aren't the
      target </p>
    <p>₨ <del style="color: red;">55,000</del><span class="ms-4">₨40,000</span></p>
    <div id="full-stars-example">
      <div class="rating-group z-index: 15;">
        <input class="rating__input rating__input--none" name="rating" id="rating-none" value="0" type="radio">
        <label aria-label="No rating" class="rating__label" for="rating-none"><i
            class="rating__icon rating__icon--none fa fa-ban fa-2xs"></i></label>
        <label aria-label="1 star" class="rating__label" for="rating-1"><i
            class="rating__icon rating__icon--star fa fa-star fa-2xs"></i></label>
        <input class="rating__input" name="rating" id="rating-1" value="1" type="radio">
        <label aria-label="2 stars" class="rating__label" for="rating-2"><i
            class="rating__icon rating__icon--star fa fa-star fa-2xs"></i></label>
        <input class="rating__input" name="rating" id="rating-2" value="2" type="radio">
        <label aria-label="3 stars" class="rating__label" for="rating-3"><i
            class="rating__icon rating__icon--star fa fa-star fa-2xs"></i></label>
        <input class="rating__input" name="rating" id="rating-3" value="3" type="radio" checked>
        <label aria-label="4 stars" class="rating__label" for="rating-4"><i
            class="rating__icon rating__icon--star fa fa-star fa-2xs"></i></label>
        <input class="rating__input" name="rating" id="rating-4" value="4" type="radio">
        <label aria-label="5 stars" class="rating__label" for="rating-5"><i
            class="rating__icon rating__icon--star fa fa-star fa-2xs"></i></label>
        <input class="rating__input" name="rating" id="rating-5" value="5" type="radio">
      </div>
    </div>
    <button class="btn  down" type="submit">EXPLORE ALL</button>

  </article>



  <article class="card">
    <img src="../../../../assets/pic/sofa1.png" alt="exposed brick wall in a hipster cafe">
    <h4 class="mt-4 ms-3">OFFICE CHAIR</h4>
    <p>My local cafe. I highly recommend a visit to the local hipster cafe, Two Slopes. Even though over 50's aren't the
      target </p>

    <p>₨ <del style="color: red;">55,000</del><span class="ms-4">₨40,000</span></p>
    <div id="full-stars-example">
      <div class="rating-group z-index: 15;">
        <input class="rating__input rating__input--none" name="rating" id="rating-none" value="0" type="radio">
        <label aria-label="No rating" class="rating__label" for="rating-none"><i
            class="rating__icon rating__icon--none fa fa-ban fa-2xs"></i></label>
        <label aria-label="1 star" class="rating__label" for="rating-1"><i
            class="rating__icon rating__icon--star fa fa-star fa-2xs"></i></label>
        <input class="rating__input" name="rating" id="rating-1" value="1" type="radio">
        <label aria-label="2 stars" class="rating__label" for="rating-2"><i
            class="rating__icon rating__icon--star fa fa-star fa-2xs"></i></label>
        <input class="rating__input" name="rating" id="rating-2" value="2" type="radio">
        <label aria-label="3 stars" class="rating__label" for="rating-3"><i
            class="rating__icon rating__icon--star fa fa-star fa-2xs"></i></label>
        <input class="rating__input" name="rating" id="rating-3" value="3" type="radio" checked>
        <label aria-label="4 stars" class="rating__label" for="rating-4"><i
            class="rating__icon rating__icon--star fa fa-star fa-2xs"></i></label>
        <input class="rating__input" name="rating" id="rating-4" value="4" type="radio">
        <label aria-label="5 stars" class="rating__label" for="rating-5"><i
            class="rating__icon rating__icon--star fa fa-star fa-2xs"></i></label>
        <input class="rating__input" name="rating" id="rating-5" value="5" type="radio">
      </div>
    </div>
    <button class="btn  down" type="submit">EXPLORE ALL</button>
  </article>
  <article class="card">
    <img src="../../../../assets/pic/sofa3.png" alt="exposed brick wall in a hipster cafe">
    <h4 class="mt-4 ms-3">SOFA SET</h4>
    <p>My local cafe. I highly recommend a visit to the local hipster cafe, Two Slopes. Even though over 50's aren't the
      target </p>
    <p>₨ <del style="color: red;">55,000</del><span class="ms-4">₨40,000</span></p>
    <div id="full-stars-example">
      <div class="rating-group z-index: 15;">
        <input class="rating__input rating__input--none" name="rating" id="rating-none" value="0" type="radio">
        <label aria-label="No rating" class="rating__label" for="rating-none"><i
            class="rating__icon rating__icon--none fa fa-ban fa-2xs"></i></label>
        <label aria-label="1 star" class="rating__label" for="rating-1"><i
            class="rating__icon rating__icon--star fa fa-star fa-2xs"></i></label>
        <input class="rating__input" name="rating" id="rating-1" value="1" type="radio">
        <label aria-label="2 stars" class="rating__label" for="rating-2"><i
            class="rating__icon rating__icon--star fa fa-star fa-2xs"></i></label>
        <input class="rating__input" name="rating" id="rating-2" value="2" type="radio">
        <label aria-label="3 stars" class="rating__label" for="rating-3"><i
            class="rating__icon rating__icon--star fa fa-star fa-2xs"></i></label>
        <input class="rating__input" name="rating" id="rating-3" value="3" type="radio" checked>
        <label aria-label="4 stars" class="rating__label" for="rating-4"><i
            class="rating__icon rating__icon--star fa fa-star fa-2xs"></i></label>
        <input class="rating__input" name="rating" id="rating-4" value="4" type="radio">
        <label aria-label="5 stars" class="rating__label" for="rating-5"><i
            class="rating__icon rating__icon--star fa fa-star fa-2xs"></i></label>
        <input class="rating__input" name="rating" id="rating-5" value="5" type="radio">
      </div>
    </div>
    <button class="btn  down" type="submit">EXPLORE ALL</button>
  </article>
  <article class="card">
    <img src="../../../../assets/pic/sofa4.png" alt="exposed brick wall in a hipster cafe">
    <h4 class="mt-4 ms-3">CENTER TABLE</h4>
    <p>My local cafe. I highly recommend a visit to the local hipster cafe, Two Slopes. Even though over 50's aren't the
      target </p>
    <p>₨ <del style="color: red;">55,000</del><span class="ms-4">₨40,000</span></p>
    <div id="full-stars-example">
      <div class="rating-group z-index: 15;">
        <input class="rating__input rating__input--none" name="rating" id="rating-none" value="0" type="radio">
        <label aria-label="No rating" class="rating__label" for="rating-none"><i
            class="rating__icon rating__icon--none fa fa-ban fa-2xs"></i></label>
        <label aria-label="1 star" class="rating__label" for="rating-1"><i
            class="rating__icon rating__icon--star fa fa-star fa-2xs"></i></label>
        <input class="rating__input" name="rating" id="rating-1" value="1" type="radio">
        <label aria-label="2 stars" class="rating__label" for="rating-2"><i
            class="rating__icon rating__icon--star fa fa-star fa-2xs"></i></label>
        <input class="rating__input" name="rating" id="rating-2" value="2" type="radio">
        <label aria-label="3 stars" class="rating__label" for="rating-3"><i
            class="rating__icon rating__icon--star fa fa-star fa-2xs"></i></label>
        <input class="rating__input" name="rating" id="rating-3" value="3" type="radio" checked>
        <label aria-label="4 stars" class="rating__label" for="rating-4"><i
            class="rating__icon rating__icon--star fa fa-star fa-2xs"></i></label>
        <input class="rating__input" name="rating" id="rating-4" value="4" type="radio">
        <label aria-label="5 stars" class="rating__label" for="rating-5"><i
            class="rating__icon rating__icon--star fa fa-star fa-2xs"></i></label>
        <input class="rating__input" name="rating" id="rating-5" value="5" type="radio">
      </div>
    </div>
    <button class="btn  down" type="submit">EXPLORE ALL</button>
  </article>
</section>










<section class="card-row mt-5">
  <article class="card">
    <img src="../../../../assets/pic/sofa5.png" alt="exposed brick wall in a hipster cafe">
    <h4 class="mt-4 ms-3">CENTER TABLE</h4>
    <p>My local cafe. I highly recommend a visit to the local hipster cafe, Two Slopes. Even though over 50's aren't the
      target </p>
    <p>₨ <del style="color: red;">55,000</del><span class="ms-4">₨40,000</span></p>
    <div id="full-stars-example">
      <div class="rating-group z-index: 15;">
        <input class="rating__input rating__input--none" name="rating" id="rating-none" value="0" type="radio">
        <label aria-label="No rating" class="rating__label" for="rating-none"><i
            class="rating__icon rating__icon--none fa fa-ban fa-2xs"></i></label>
        <label aria-label="1 star" class="rating__label" for="rating-1"><i
            class="rating__icon rating__icon--star fa fa-star fa-2xs"></i></label>
        <input class="rating__input" name="rating" id="rating-1" value="1" type="radio">
        <label aria-label="2 stars" class="rating__label" for="rating-2"><i
            class="rating__icon rating__icon--star fa fa-star fa-2xs"></i></label>
        <input class="rating__input" name="rating" id="rating-2" value="2" type="radio">
        <label aria-label="3 stars" class="rating__label" for="rating-3"><i
            class="rating__icon rating__icon--star fa fa-star fa-2xs"></i></label>
        <input class="rating__input" name="rating" id="rating-3" value="3" type="radio" checked>
        <label aria-label="4 stars" class="rating__label" for="rating-4"><i
            class="rating__icon rating__icon--star fa fa-star fa-2xs"></i></label>
        <input class="rating__input" name="rating" id="rating-4" value="4" type="radio">
        <label aria-label="5 stars" class="rating__label" for="rating-5"><i
            class="rating__icon rating__icon--star fa fa-star fa-2xs"></i></label>
        <input class="rating__input" name="rating" id="rating-5" value="5" type="radio">
      </div>
    </div>

    <button class="btn  down" type="submit">EXPLORE ALL</button>
  </article>



  <article class="card">
    <img src="../../../../assets/pic/sofa6.png" alt="exposed brick wall in a hipster cafe">
    <h4 class="mt-4 ms-3">OFFICE CHAIR</h4>
    <p>My local cafe. I highly recommend a visit to the local hipster cafe, Two Slopes. Even though over 50's aren't the
      target </p>

    <p>₨ <del style="color: red;">55,000</del><span class="ms-4">₨40,000</span></p>
    <div id="full-stars-example">
      <div class="rating-group z-index: 15;">
        <input class="rating__input rating__input--none" name="rating" id="rating-none" value="0" type="radio">
        <label aria-label="No rating" class="rating__label" for="rating-none"><i
            class="rating__icon rating__icon--none fa fa-ban fa-2xs"></i></label>
        <label aria-label="1 star" class="rating__label" for="rating-1"><i
            class="rating__icon rating__icon--star fa fa-star fa-2xs"></i></label>
        <input class="rating__input" name="rating" id="rating-1" value="1" type="radio">
        <label aria-label="2 stars" class="rating__label" for="rating-2"><i
            class="rating__icon rating__icon--star fa fa-star fa-2xs"></i></label>
        <input class="rating__input" name="rating" id="rating-2" value="2" type="radio">
        <label aria-label="3 stars" class="rating__label" for="rating-3"><i
            class="rating__icon rating__icon--star fa fa-star fa-2xs"></i></label>
        <input class="rating__input" name="rating" id="rating-3" value="3" type="radio" checked>
        <label aria-label="4 stars" class="rating__label" for="rating-4"><i
            class="rating__icon rating__icon--star fa fa-star fa-2xs"></i></label>
        <input class="rating__input" name="rating" id="rating-4" value="4" type="radio">
        <label aria-label="5 stars" class="rating__label" for="rating-5"><i
            class="rating__icon rating__icon--star fa fa-star fa-2xs"></i></label>
        <input class="rating__input" name="rating" id="rating-5" value="5" type="radio">
      </div>
    </div>
    <button class="btn  down" type="submit">EXPLORE ALL</button>
  </article>
  <article class="card">
    <img src="../../../../assets/pic/sofa7.png" alt="exposed brick wall in a hipster cafe">
    <h4 class="mt-4 ms-3">SOFA SET</h4>
    <p>My local cafe. I highly recommend a visit to the local hipster cafe, Two Slopes. Even though over 50's aren't the
      target </p>
    <p>₨ <del style="color: red;">55,000</del><span class="ms-4">₨40,000</span></p>
    <div id="full-stars-example">
      <div class="rating-group z-index: 15;">
        <input class="rating__input rating__input--none" name="rating" id="rating-none" value="0" type="radio">
        <label aria-label="No rating" class="rating__label " for="rating-none"><i
            class="rating__icon rating__icon--none fa fa-ban fa-2xs "></i></label>
        <label aria-label="1 star" class="rating__label" for="rating-1"><i
            class="rating__icon rating__icon--star fa fa-star fa-2xs"></i></label>
        <input class="rating__input" name="rating" id="rating-1" value="1" type="radio">
        <label aria-label="2 stars" class="rating__label" for="rating-2"><i
            class="rating__icon rating__icon--star fa fa-star fa-2xs"></i></label>
        <input class="rating__input" name="rating" id="rating-2" value="2" type="radio">
        <label aria-label="3 stars" class="rating__label" for="rating-3"><i
            class="rating__icon rating__icon--star fa fa-star fa-2xs"></i></label>
        <input class="rating__input" name="rating" id="rating-3" value="3" type="radio" checked>
        <label aria-label="4 stars" class="rating__label" for="rating-4"><i
            class="rating__icon rating__icon--star fa fa-star fa-2xs"></i></label>
        <input class="rating__input" name="rating" id="rating-4" value="4" type="radio">
        <label aria-label="5 stars" class="rating__label" for="rating-5"><i
            class="rating__icon rating__icon--star fa fa-star fa-2xs"></i></label>
        <input class="rating__input" name="rating" id="rating-5" value="5" type="radio">
      </div>
    </div>
    <button class="btn  down" type="submit">EXPLORE ALL</button>
  </article>
  <article class="card">
    <img src="../../../../assets/pic/sofa4.png" alt="exposed brick wall in a hipster cafe">
    <h4 class="mt-4 ms-3">CENTER TABLE</h4>
    <p>My local cafe. I highly recommend a visit to the local hipster cafe, Two Slopes. Even though over 50's aren't the
      target </p>
    <p>₨ <del style="color: red;">55,000</del><span class="ms-4">₨40,000</span></p>
    <div id="full-stars-example">
      <div class="rating-group z-index: 15;">
        <input class="rating__input rating__input--none" name="rating" id="rating-none" value="0" type="radio">
        <label aria-label="No rating" class="rating__label" for="rating-none"><i
            class="rating__icon rating__icon--none fa fa-ban fa-2xs"></i></label>
        <label aria-label="1 star" class="rating__label" for="rating-1"><i
            class="rating__icon rating__icon--star fa fa-star fa-2xs"></i></label>
        <input class="rating__input" name="rating" id="rating-1" value="1" type="radio">
        <label aria-label="2 stars" class="rating__label" for="rating-2"><i
            class="rating__icon rating__icon--star fa fa-star fa-2xs"></i></label>
        <input class="rating__input" name="rating" id="rating-2" value="2" type="radio">
        <label aria-label="3 stars" class="rating__label" for="rating-3"><i
            class="rating__icon rating__icon--star fa fa-star fa-2xs"></i></label>
        <input class="rating__input" name="rating" id="rating-3" value="3" type="radio" checked>
        <label aria-label="4 stars" class="rating__label" for="rating-4"><i
            class="rating__icon rating__icon--star fa fa-star fa-2xs"></i></label>
        <input class="rating__input" name="rating" id="rating-4" value="4" type="radio">
        <label aria-label="5 stars" class="rating__label" for="rating-5"><i
            class="rating__icon rating__icon--star fa fa-star fa-2xs"></i></label>
        <input class="rating__input" name="rating" id="rating-5" value="5" type="radio">
      </div>
    </div>
    <button class="btn  down" type="submit">EXPLORE ALL</button>
  </article>
</section>






<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
<div class="container">

  <h1>Our Services</h1>
  <div class="row">
    <div class="service">
      <i class="fa-solid fa-chair"></i>
      <h2>Chairs</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi,
        quae?
      </p>
    </div>
    <div class="service">
      <i class="fa-sharp fa-solid fa-couch"></i>
      <h2>Couch</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi,
        quae?
      </p>
    </div>
    <div class="service">
      <i class='fas fa-bath' style='font-size:36px'></i>
      <h2>BathTub</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi,
        quae?
      </p>
    </div>
    <div class="service">
      <i class='fas fa-shower' style='font-size:36px'></i>
      <h2>Shower</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi,
        quae?
      </p>
    </div>
    <div class="service">
      <i class='fas fa-bed' style='font-size:36px'></i>
      <h2>Bed</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi,
        quae?
      </p>
    </div>

    <div class="service">
      <i class="fas fa-money-check-alt"></i>
      <h2>Payroll</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi,
        quae?
      </p>
    </div>

  </div>
</div>




<!-- slider -->

<!-- Slider 1 -->


<h2 class="sliderh1">Buy Single Beds Online in Pakistan</h2>
<h4 class="sliderh1">⭐ See all Customer Reviews</h4>
<p class="sliderh1">📞 Call for Details/Order: 03318999222</p>

<div class="slider" id="slider1">
  <!-- Slides -->
  <div style="background-image:url(../../../../assets/pic/Modern\ Cabinet\ Furniture\ Instagram\ Post\ \(1\).png)">
  </div>

  <!-- Title Bar -->
  <span class="titleBar">
    <h6>Single beds are the beds whose frame sizes are adjusted in a way to accommodate one person only. In Pakistani
      society, single beds are used in many houses and<p style="color: red;">hostels.</p>. We can also say that the
      single beds have taken over
      Charpoys<p style="color: red;">(Bedsteads consisting of a web of ropes)</p> , as many people now prefer single
      beds over the charpoys.</h6>
  </span>
</div>



<!-- frquently questions -->
<section id="faq" class="faq">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Frequently <span style="color:  #D2042D ;">&nbsp;Asked&nbsp;</span> Questions</h2>
    </div>

    <ul class="faq-list accordion" data-aos="fade-up">

      <li>
        <a data-bs-toggle="collapse" class="collapsed" data-bs-target="#faq1">What customisation features are available?
          <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
        <div id="faq1" class="collapse" data-bs-parent=".faq-list">
          <p>
            You should be offered, at the very basic level within the online store, different sizes, colours, fabric or
            wood choices right on the product page if available for that product. This does not mean that there are not
            other customisable options for specific items, and a simple email, call or message to the online store
            should provide additional information, as well as seeing what their actual response time is to questions as
            this will be a good indication to their customer satisfaction commitments.
          </p>
        </div>
      </li>

      <li>
        <a data-bs-toggle="collapse" data-bs-target="#faq2" class="collapsed">How was this furniture made? <i
            class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
        <div id="faq2" class="collapse" data-bs-parent=".faq-list">
          <p>
            If you're buying a table or chair, you need to know what type of frame it has, and what kind of materials
            where used in the filling and support. All this affects the quality of your furniture. You may also want to
            know where it was made and who manufactured it. If you have sustainability concerns, ask about industry
            certifications and whether the finishes are non-toxic or low VOC which can inversely effect human health.
          </p>
        </div>
      </li>

      <li>
        <a data-bs-toggle="collapse" data-bs-target="#faq3" class="collapsed">Do you have other items in the same price
          range?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
        <div id="faq3" class="collapse" data-bs-parent=".faq-list">
          <p>
            It's always good to look at all the options before you make up your mind. Take a look at similar items,
            because you may find that some other piece fits your needs better. If the piece you like seems a little
            above your budget, ask to see similar items in another price range. With online purchasing, alternative
            suggestions are very often provided automatically to help you select the perfect piece for your budgets
          </p>
        </div>
      </li>

      <li>
        <a data-bs-toggle="collapse" data-bs-target="#faq4" class="collapsed">How do you deliver and how long will it
          take? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
        <div id="faq4" class="collapse" data-bs-parent=".faq-list">
          <p>
            Never assume anything about deliveries, even if you've made a purchase on the particular online store
            before. Ask about any additional delivery charges, whether they'll call before delivering your furniture,
            and what day you should expect your furniture to arrive. Some online stores offer free shipping across their
            product range, but many have an average spend requirement before the free shipping kicks in..
          </p>
        </div>
      </li>

      <li>
        <a data-bs-toggle="collapse" data-bs-target="#faq5" class="collapsed">Why should I buy from you? <i
            class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
        <div id="faq5" class="collapse" data-bs-parent=".faq-list">
          <p>
            As a consumer, you have the choice to buy or not buy from an online store of your choice. Ask what sets this
            store apart from others, what makes them special? It's a good idea to inquire about their merchandise
            selection, customer service, pricing, warranties, and return policies. But trust your gut, if the online
            store does not make you feel safe and secure and you question the safety of your personal info, rather move
            onto an alternative online stor
          </p>
        </div>
      </li>

      <li>
        <a data-bs-toggle="collapse" data-bs-target="#faq6" class="collapsed">Can you remove my old furniture? <i
            class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
        <div id="faq6" class="collapse" data-bs-parent=".faq-list">
          <p>
            As anyone who has tried to get rid of used furniture knows, discarding it can be a pain and a hassle. Not
            many online furniture retailers will remove your old furniture when they deliver your new one. Some
            suggestions are to place your old furniture of social media platforms to resell, with the payment going to
            the the actual cost of the new item. Or you can always offer it up for free on one of the many online
            platforms within the UK, giving the gift of something old to you to someone who would appreciate something
            new to them.
          </p>
        </div>
      </li>

    </ul>

  </div>
</section>

