

<form [formGroup]="myForm" (ngSubmit)="SubmitMyForm">
    <tr>
  
        <td><label for="inputPassword5" class="form-label"  required>Email</label>
          <input type="text" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock" formControlName="Email"></td>
        </tr>
      <tr>
        <td><label for="inputPassword5" class="form-label">Password</label>
            <input type="text" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock" formControlName="password">
            </td>
      </tr>
         
         

      
    
            <button class="btn btn-outline-success ms-4 mt-5"> Submit</button>
     
          


</form>
