
<form [formGroup]="myForm" (ngSubmit)="Submitmyform()">
    <tr>
  
        <td><label for="inputPassword5" class="form-label"  required>Email</label>
          <input type="email" id="inputPassword5" class="form-control"  formControlName="email"></td>
        </tr>
      <tr>
        <td><label for="inputPassword5" class="form-label">Password</label>
            <input type="text" id="inputPassword5" class="form-control"  formControlName="password">
            </td>
      </tr>
      
         <tr>
          <td><button type="submit" class="mt-5"  >submit</button></td>
         </tr>       
</form>

<br><br><br><br>

<button  (click)="getPostData()">GetData</button>
 {{showData}}