

<h1>Welcome to DashBoard</h1>
<h4>Best Sales This Year</h4>
  <div class="chart-container">
    <div class="base"></div>
        <!-- Left Side Meter-->
    <ul class="meter">
      <li><div>$100,000</div></li>
      <li><div>$80,000</div></li>
      <li><div>$60,000</div></li>
      <li><div>$40,000</div></li>
      <li><div>Less Than $20,000</div></li>
    </ul>
    <!-- Background-Grid -->
    <table>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </table>
    <!-- End Background Grid -->
 
    <div class="bar one"></div>   
    <div class="bar two"></div>   
    <div class="bar three"></div>
    <div class="bar four"></div>   
    <div class="bar five"></div>   
    <div class="bar six"></div>
    <div class="bar seven"></div>   
    <div class="bar eight"></div> 
  </div>




<div class="down">


  <div class="pie" style="--p:20"> 20%</div>
  <div class="pie" style="--p:40;--c:darkblue;--b:10px"> 40%</div>
  <div class="pie no-round" style="--p:60;--c:purple;--b:15px"> 60%</div>
  <div class="pie animate no-round" style="--p:80;--c:orange;"> 80%</div>
  <div class="pie animate" style="--p:90;--c:lightgreen"> 90%</div>
</div>
