<div class="container mt-5">
  <div class="row g-6 mb-6">
    <div class="col-xl-3 col-sm-6 col-12">
      <div class="card shadow border-0">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <span class="h6 font-semibold text-muted text-sm d-block mb-2">Budget</span>
              <span class="h3 font-bold mb-0">$750.90</span>
            </div>
            <div class="col-auto">
              <div class="icon icon-shape bg-tertiary text-white text-lg ">
                <i class="bi bi-credit-card"></i>
              </div>
            </div>
          </div>
          <div class="mt-2 mb-0 text-sm">
            <span class="badge badge-pill bg-soft-success text-success me-2">
              <i class="bi bi-arrow-up me-1"></i>13%
            </span>
            <span class="text-nowrap text-xs text-muted">Since last month</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6 col-12">
      <div class="card shadow border-0">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <span class="h6 font-semibold text-muted text-sm d-block mb-2">New projects</span>
              <span class="h3 font-bold mb-0">215</span>

            </div>
            <div class="col-auto">
              <div class="icon icon-shape bg-primary text-white text-lg">
                <i class="bi bi-people"></i>
              </div>
            </div>
          </div>
          <div class="mt-2 mb-0 text-sm">
            <span class="badge badge-pill bg-soft-success text-success me-2">
              <i class="bi bi-arrow-up me-1"></i>30%
            </span>
            <span class="text-nowrap text-xs text-muted">Since last month</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6 col-12">
      <div class="card shadow border-0">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <span class="h6 font-semibold text-muted text-sm d-block mb-2">Total hours</span>
              <span class="h3 font-bold mb-0">1.400</span>
            </div>
            <div class="col-auto">
              <div class="icon icon-shape bg-info text-white text-lg rounded-circle">
                <i class="bi bi-clock-history"></i>
              </div>
            </div>
          </div>
          <div class="mt-2 mb-0 text-sm">
            <span class="badge badge-pill bg-soft-danger text-danger me-2">
              <i class="bi bi-arrow-down me-1"></i>-5%
            </span>
            <span class="text-nowrap text-xs text-muted">Since last month</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6 col-12">
      <div class="card shadow border-0">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <span class="h6 font-semibold text-muted text-sm d-block mb-2">Work load</span>
              <span class="h3 font-bold mb-0">95%</span>
            </div>

          </div>
          <div class="mt-2 mb-0 text-sm">
            <span class="badge badge-pill bg-soft-success text-success me-2">
              <i class="bi bi-arrow-up me-1"></i>10%
            </span>
            <span class="text-nowrap text-xs text-muted">Since last month</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container mt-5 p-2">
  <div class="row">
    <div class="col-lg-12">
      <div>
        <div>
          <div style="display: block">
            <canvas baseChart [data]="barChartData" [options]="barChartOptions" [type]="barChartType"
              (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
            </canvas>
            
          </div>
          <button mat-button mat-raised-button class="btn btn-outline-primary " color="primary"
            (click)="randomize()">Update</button>
        </div>
      </div>
    </div>
  </div>
</div>

<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem, deserunt ducimus architecto dicta eum, corrupti
  aspernatur quasi velit blanditiis debitis, minus non. Ipsam porro ad adipisci nemo eius sapiente, soluta omnis. Quasi
  modi incidunt alias cupiditate mollitia minima praesentium fugit exercitationem cum eos? Id eaque hic dolorum quis!
  Quia cumque nostrum quis fugit vitae voluptates. At qui et molestias numquam, culpa rerum, dignissimos, voluptatibus
  voluptatum dolorem quia libero debitis harum maxime. Repellendus quo nulla deleniti, provident fugit mollitia dolores
  veniam assumenda eum vero sed, optio dolor blanditiis, impedit tempore obcaecati sapiente porro a incidunt quam dicta
  saepe. Mollitia repellendus minima sunt dicta sit pariatur vitae quasi, provident ullam doloremque laborum ut,
  laboriosam praesentium saepe? Ipsam alias id nobis blanditiis quis asperiores commodi, quas officia beatae quos cumque
  magni delectus doloribus quidem aliquam recusandae culpa veniam expedita aliquid. Voluptates quaerat tenetur sit
  doloremque autem sint nulla culpa ab necessitatibus voluptatibus ad tempora illum, ea debitis consequuntur,
  dignissimos veniam. Quidem quis amet fugit id rerum sunt exercitationem nobis ea! Numquam voluptatum voluptas sed non
  repudiandae laborum animi perspiciatis, iure aspernatur assumenda, adipisci rerum atque molestiae quas vero ut, velit
  quaerat ab eligendi. Nesciunt, dolorum. Minus earum fugit libero placeat eius optio repellendus nam dolorum voluptate
  animi laboriosam et quos magni nihil blanditiis, porro doloribus eveniet tempore sit iste impedit vitae? Expedita et
  autem, cum ut odit aspernatur sunt asperiores voluptates ducimus nihil nam voluptas non porro deleniti, minima amet
  corrupti, tempore doloremque! Aliquam amet velit hic error nihil sit in necessitatibus nostrum debitis asperiores
  aliquid sapiente facere a alias porro consequatur numquam ut, ipsum neque cumque iste doloribus iusto nam? Dolores
  nesciunt facere quam exercitationem, porro aliquam, fugiat quo tempore sit sequi velit ipsam officia autem
  accusantium, aliquid distinctio? Quis at minima nihil quisquam ut, vitae hic vel ea, culpa, sapiente possimus ullam
  voluptatum? Recusandae laborum, ea deserunt sunt totam cupiditate alias quasi excepturi numquam tempore qui, in
  molestias ut quam. Laboriosam illum nostrum veniam eligendi facilis dignissimos cumque molestias, consequatur vitae
  tempora? Hic nihil incidunt eum totam sed, cum tempore ipsa, nostrum eligendi vel animi voluptas, eaque ea. Nesciunt
  nostrum dolores ab sunt temporibus quas vitae deleniti quos. Enim, necessitatibus animi, voluptates dolore inventore
  impedit nobis earum facere nostrum nam a reprehenderit? Voluptatum nemo, dicta explicabo maxime, sit dolores velit
  libero amet tenetur magni beatae perspiciatis possimus quidem dolorem similique quasi? Quae numquam quasi quos
  reiciendis quibusdam veritatis recusandae! Incidunt eveniet velit aut nisi magni, quia exercitationem asperiores
  maiores veniam molestias nam deleniti nemo dolores nihil, reprehenderit fugiat repudiandae at, sed aliquid laboriosam
  esse. Hic ab repellat, provident in laborum, vel iste veritatis ea ad nobis quibusdam, esse voluptatem incidunt omnis
  officiis. Eos sequi nostrum minus maiores esse voluptas eum vel asperiores, delectus molestias labore repellendus sed!
  Doloribus tenetur libero cum, deserunt velit ducimus debitis repellendus sit tempora dolores qui molestias id possimus
  eligendi quia asperiores, itaque, natus delectus voluptas cupiditate laborum voluptate quod iusto! Iure dicta expedita
  fuga amet quam dolorum et eligendi officiis incidunt architecto, voluptas veritatis, obcaecati impedit similique ut
  tempora veniam quos, facilis vel ad numquam? Architecto quae voluptas deserunt quod est, fugit eaque distinctio.
  Numquam, perferendis ipsa illo unde possimus facere minima minus illum mollitia sapiente, nihil laudantium delectus.
  Nisi doloremque modi quasi veritatis exercitationem asperiores? Rerum reprehenderit consequatur vero dolores provident
  natus distinctio, quo esse incidunt commodi voluptates asperiores aperiam ab enim id! Delectus ex voluptatum animi
  accusamus dignissimos quae ipsam tenetur inventore odit architecto nulla atque commodi ducimus perspiciatis, suscipit
  consectetur consequatur consequuntur at totam, assumenda sit non error? Animi quae, maxime laudantium debitis sed
  minus consequuntur ad dignissimos odit ipsum voluptate. Reiciendis ex suscipit quod perspiciatis cumque aut laboriosam
  possimus provident consequatur libero officiis atque, unde enim cum sed. Aspernatur maiores dolore recusandae cum
  consequuntur optio debitis laborum minus ea distinctio accusantium neque quisquam minima possimus aperiam dolores eos,
  repudiandae eligendi aliquam iure saepe? Dignissimos saepe assumenda error delectus at harum quae illum tempora nemo
  sapiente veniam laborum quibusdam placeat nulla pariatur fugit deleniti odio, minus ratione nisi aliquam provident
  possimus maiores. Recusandae facilis quisquam minus qui ullam. Id amet, perferendis reprehenderit cumque quis
  assumenda! Possimus excepturi dolorum voluptatibus fugit quos qui eos id animi eaque quod exercitationem voluptatem
  autem temporibus dolore asperiores eveniet, recusandae corrupti iure, modi voluptas, suscipit quo similique totam?
  Suscipit ab, eum nostrum totam autem nulla sapiente expedita earum necessitatibus saepe, nemo dolores dicta in
  deleniti vero rem sequi nesciunt repellendus dolor? Rem minima laborum, ratione sit in vitae quaerat similique placeat
  at repellendus voluptatibus! Quod qui quibusdam odio, provident labore, facilis id officiis dolore possimus
  praesentium accusantium rem aspernatur delectus eaque accusamus expedita blanditiis illum eos assumenda ipsum deleniti
  incidunt nihil veniam facere. A deleniti amet, unde alias consequuntur voluptas itaque voluptate odit aliquam
  consequatur fuga, laboriosam sapiente et dolores quos ullam, laborum quisquam quo suscipit? Iste velit architecto
  harum qui iure dolore labore reprehenderit, quidem cum optio porro est amet dolores saepe nisi quam voluptate
  necessitatibus ab minima tempora expedita ipsam fugit quaerat aliquam! Quaerat nam ad nisi quis modi ut mollitia
  numquam obcaecati blanditiis amet nostrum sed, maiores in molestiae atque commodi, quidem maxime placeat natus
  voluptatibus enim eveniet. Dignissimos earum modi harum ex quisquam placeat aperiam minima incidunt deserunt, quasi
  adipisci! Consectetur esse rerum harum, cumque nostrum dolorum eius impedit. Deserunt omnis ex laborum atque, at
  ratione, error sed, soluta tempore dolorem dolor quae reprehenderit nemo tempora in porro corrupti earum ducimus
  impedit! Ipsa, omnis molestias molestiae eaque sint accusantium ipsum tempore quidem quo reiciendis non culpa fuga
  possimus ut distinctio vel harum autem eum dicta, voluptatum commodi impedit cupiditate aspernatur. Possimus velit
  quam unde quod reiciendis provident quae odio alias voluptas autem suscipit, dolore pariatur deserunt aliquid laborum
  distinctio! Pariatur sapiente dicta labore possimus rerum animi molestiae ab iste eos, molestias, quidem dolor quo
  ducimus beatae minus temporibus sint. Exercitationem commodi culpa voluptatem nisi voluptates numquam accusantium
  mollitia saepe reprehenderit dolores, ab minus nemo impedit, accusamus quod consectetur omnis dolorum maiores magni
  sit doloremque. Quae sapiente minus sint illum, facere eligendi eveniet ducimus fugiat esse beatae et nostrum odit
  deleniti amet aut vitae possimus id. Animi esse perspiciatis iure odit reiciendis! Laudantium, omnis deserunt.
  Suscipit officiis exercitationem quos enim quaerat eveniet unde? Repudiandae autem, corrupti eius ipsa ratione vitae
  et ipsam alias magni laborum temporibus? Quos sapiente aspernatur necessitatibus aliquid error placeat sequi saepe
  doloremque veritatis vel aut nulla consequatur ipsum nemo voluptatum similique exercitationem nostrum, accusamus quam
  minima ullam porro debitis asperiores! Consequatur perferendis provident omnis harum laborum impedit! Mollitia eius
  commodi magni tempore blanditiis! Maxime fuga accusantium sit, ratione porro minus impedit est quibusdam adipisci
  voluptates, nisi possimus, neque facilis exercitationem vel error. Vero qui adipisci iusto illum incidunt similique
  ipsa velit perferendis et! Porro perferendis, saepe velit nam sunt eius modi nobis officia distinctio commodi enim
  sint voluptatum. Est, accusamus pariatur. Beatae recusandae quod dignissimos placeat sint minus, quo deleniti
  distinctio. Magnam perspiciatis, possimus porro obcaecati fugit assumenda magni ratione animi incidunt rem nulla
  aperiam dicta eius, molestiae impedit est! Nostrum ipsa veniam cumque aliquam deleniti possimus, consectetur, quos
  dignissimos impedit libero commodi aperiam obcaecati numquam facilis? Vel quasi, fuga quibusdam optio illo, autem aut
  aperiam itaque perferendis obcaecati totam dolorem facilis exercitationem quod omnis excepturi, nemo laudantium nihil
  inventore. Eveniet quibusdam sequi adipisci eligendi soluta? Veritatis, magnam veniam ducimus, est doloremque
  quibusdam quis optio natus qui dolorem eveniet illo consectetur impedit sed culpa nostrum reprehenderit, voluptatem
  asperiores itaque distinctio expedita eaque nam dolor vitae. Atque expedita, dolore adipisci distinctio ut voluptate
  enim officia asperiores pariatur nemo praesentium maiores! Mollitia cum quasi debitis ipsa saepe, a odit cumque nobis
  ut, qui doloremque suscipit eos? Consectetur numquam odio saepe, cum dolore nesciunt quas omnis laborum sapiente velit
  et repudiandae eos hic aperiam ipsam vero eligendi, id nisi nam commodi architecto at non. Magnam voluptate ipsum quia
  odio culpa fugiat consectetur excepturi illum. Quam officiis, libero recusandae delectus accusantium culpa laborum
  magni, voluptates praesentium quod eos tempore nulla voluptas aperiam quaerat incidunt necessitatibus earum placeat?
  Beatae, dolor quia debitis dolores maiores amet reiciendis nulla molestias pariatur minus nihil culpa voluptas totam
  magnam earum a facilis porro vero autem cumque voluptatem perferendis! Ipsa quam magnam similique culpa eius earum
  voluptatem, a commodi deleniti! Consequatur adipisci eos quis mollitia explicabo doloremque molestiae quae, ut commodi
  repellendus? Quis corporis, nemo deleniti, soluta quos cupiditate ad placeat rem nobis pariatur saepe ratione atque
  non officiis error necessitatibus ab laborum sed repellendus! Unde, dolores officiis minima similique exercitationem
  beatae! Voluptates voluptatibus culpa nam nihil dicta odit, porro in pariatur a expedita quisquam sint tenetur dolor
  ducimus, tempore, mollitia eum animi voluptatum ipsum accusamus. Autem quos optio provident obcaecati! Facere, sit?
  Dolorem vitae, repellendus alias neque illo harum totam nesciunt repudiandae libero cumque sequi eaque cum odio,
  accusamus dolores. Maiores corrupti necessitatibus harum ipsum quo, veritatis, rerum minus illum saepe alias
  recusandae. Quidem quaerat porro unde eos atque doloribus at, deleniti praesentium vel dignissimos dolorum, facilis
  nostrum voluptates placeat optio tenetur molestiae eum tempore quasi excepturi illo! Perferendis minima voluptate ex
  facilis odit nesciunt libero itaque, aspernatur quibusdam? Repellat sequi sed veniam vel maxime non enim quae
  voluptatibus accusamus atque doloribus unde rem dicta voluptates quo, asperiores incidunt ab, tempore fugit ut
  voluptatum harum consequatur! Blanditiis commodi, corporis rem aut cum obcaecati, quas architecto repudiandae qui
  aspernatur nulla doloribus officia magni tempora repellendus dolorum ducimus placeat voluptatibus quibusdam? Vitae eum
  tempore nemo sint ad sequi assumenda doloribus sapiente nulla excepturi esse, nihil rerum nobis suscipit vel maiores
  dignissimos autem voluptates, beatae saepe ducimus error earum, hic quas! Quidem, rem similique, autem blanditiis sunt
  corrupti sequi possimus placeat nobis voluptates saepe in? Nisi iusto aspernatur soluta, doloremque, quia illum
  tempora ipsum necessitatibus officia amet, temporibus corporis a explicabo atque. Ipsa beatae possimus eaque
  consectetur est, odit optio ipsam sint deleniti impedit odio animi adipisci rerum dolorum, alias temporibus, officia
  soluta eius amet doloribus praesentium magnam. Totam molestias vero quaerat exercitationem debitis et necessitatibus!
  Nostrum minima id obcaecati veritatis cum. Temporibus recusandae sint perspiciatis repellat neque at nulla doloribus
  tenetur enim laboriosam. Asperiores culpa iure animi neque. Veniam quos voluptatibus ullam! Iure nulla nam impedit aut
  quisquam tempora consequuntur dolorum eveniet. Voluptas quaerat doloribus reprehenderit voluptatum esse aperiam! Eos,
  error atque id neque beatae odit perspiciatis illum nisi ipsam deleniti consectetur placeat earum, eum excepturi
  numquam. Fuga quidem vel ab quasi quos laboriosam repellendus impedit nihil blanditiis, deserunt sapiente modi aut
  voluptatem ex voluptas sit! Corrupti a, distinctio dolorum blanditiis debitis dicta repudiandae necessitatibus,
  similique at placeat sit optio. Atque dolore voluptates eaque ipsum eius, inventore eveniet! Aliquid officiis, error,
  numquam officia dicta iure ut fuga soluta corporis autem maxime accusamus commodi doloribus quibusdam consequuntur
  ipsa aut necessitatibus velit, molestias quas a tenetur! Dignissimos labore, delectus dicta accusantium architecto
  sunt magnam, eligendi tempore officiis magni incidunt excepturi sit placeat accusamus quos dolore repudiandae et
  quidem culpa cumque commodi. Assumenda dolores ullam quia magni veritatis? Delectus exercitationem expedita corrupti
  iure minus totam distinctio, vel architecto. Ipsa error tenetur dolore eos omnis corporis nemo sapiente repellendus
  numquam iure nulla rem suscipit neque accusamus recusandae, est, cum earum officia totam consectetur? Vitae
  perferendis dicta fugiat recusandae eum tempora consequatur ipsam odio? Quidem vero odit nulla voluptatum, labore
  facere dicta earum in dolor totam molestiae distinctio, minima a voluptatibus laborum beatae. Tenetur quidem harum,
  beatae architecto error nihil officia tempore modi, quasi, quis nesciunt possimus sed. Odio fuga labore nulla.
  Similique laboriosam eligendi consequatur culpa sunt corrupti! Temporibus ducimus error distinctio placeat nihil a,
  accusamus odit, enim est magnam eaque veritatis? Quo, molestiae atque quaerat porro explicabo sapiente minima sed
  nesciunt tenetur vitae soluta nobis ad suscipit eos odio repellat necessitatibus dolorem assumenda amet incidunt
  officia. Earum, temporibus possimus voluptatibus officia expedita, obcaecati ut inventore quasi, minima ducimus
  ratione voluptate corporis ex cumque. Sint sapiente ipsa magnam, debitis praesentium, dolore aspernatur fuga
  voluptates eaque non voluptatibus reprehenderit nobis eligendi officiis totam facere maiores mollitia quas quae
  quisquam laboriosam? Quo, magnam excepturi! Maiores pariatur, harum voluptates eum accusantium mollitia eveniet
  aliquid, fuga provident illo ducimus enim corrupti, alias dolorum ut sed odit soluta nihil ex eius! Natus laborum
  laboriosam, dolorum asperiores quod assumenda! A, dignissimos! Quis officiis repudiandae natus eius dolor corrupti ad
  porro, vitae dicta totam ex incidunt voluptatem nihil maiores dolorum voluptatum laborum recusandae numquam magnam ea!
  Magni, sint, reprehenderit totam aliquam nobis a fuga saepe, laboriosam corrupti cum consequuntur possimus quod
  distinctio enim maxime? Maiores, vel rem quibusdam harum non recusandae! Libero corrupti modi iusto, officiis quidem
  reprehenderit in doloremque cum illum vero sed neque quo non. Aliquid tempore ab porro reiciendis labore corporis modi
  recusandae voluptates autem quae ratione doloremque qui in quo non itaque provident perspiciatis, nesciunt eaque sint.
  Dolore facere quas at doloremque repudiandae fugiat blanditiis adipisci enim maiores nam quibusdam iste perferendis
  voluptatem, amet eius porro, deserunt nobis natus! Veniam corrupti quas, adipisci consequatur, provident a natus ullam
  qui enim, necessitatibus accusamus eius quod delectus maiores molestiae optio cum labore repellendus nam in rem! Ipsam
  rerum dolorem recusandae totam accusantium aut cumque, tempore corrupti vitae obcaecati, minima alias facere eius
  nulla dolores sed hic odio repellendus deserunt placeat cum? A, dolorum. Saepe nulla a beatae. Ut repudiandae
  excepturi commodi quam non error obcaecati aut, ullam dolorem reiciendis, quasi repellat at possimus quae optio libero
  dolorum ab quibusdam laborum et earum veritatis iste nisi. Placeat corporis eum aut. Officia numquam deleniti, tempora
  corporis, exercitationem inventore tempore aut voluptas natus pariatur cumque molestias esse nam vero et iure quo nemo
  repudiandae. Blanditiis est harum magnam consequatur, corrupti sint quis temporibus quam exercitationem architecto!
  Culpa tenetur perspiciatis molestias quae laborum, commodi possimus ad temporibus accusamus id atque soluta, veniam
  eaque maiores deleniti voluptates? Fugit praesentium sapiente quidem voluptatum provident, possimus vel velit suscipit
  beatae, eaque id. Distinctio nobis laboriosam, quasi modi at explicabo vitae velit repellendus maiores eos, ducimus
  architecto voluptatum eius asperiores laudantium repudiandae aliquam, sapiente repellat ea tempora cumque? Sed
  perspiciatis quia amet ad perferendis possimus alias ab explicabo sequi est in itaque voluptas error quaerat nam
  deleniti placeat voluptate quas eos facere aliquid, nihil fuga, sint ipsa? Quos nobis vel tempore dolorem? Esse illo
  hic provident eligendi consequatur numquam placeat dolore iure quibusdam officia quam, voluptate earum! Repellendus
  fugiat sunt aperiam excepturi exercitationem repudiandae optio facilis perspiciatis soluta tempore sapiente illo,
  veritatis et nisi libero ex beatae error iure? Quos, obcaecati velit! Eius debitis libero reprehenderit nobis, totam
  laboriosam fugit, tempora doloremque repellat eligendi rerum perferendis voluptatum sint repellendus delectus. Earum
  porro neque itaque veniam quo dolorem dignissimos unde obcaecati, molestiae, recusandae ut odit beatae officiis
  similique alias eos quae aliquid fuga accusantium odio. Facilis incidunt ducimus ipsa esse? Nisi quas veritatis magni
  cupiditate, accusamus cumque. Inventore sit, ducimus fugit similique eos neque laboriosam, deserunt autem fugiat
  dolorem minus, explicabo consequuntur est. Laudantium exercitationem deleniti, quam nostrum tenetur maiores ad quos
  corporis magnam sit quaerat sunt odit iste similique praesentium tempora vitae laboriosam impedit animi! Dolore et
  eaque voluptatum aliquid sapiente exercitationem quaerat, modi voluptates, minus ducimus quidem repudiandae!
  Laboriosam atque cupiditate sint vero magnam exercitationem itaque voluptas cumque minus. Esse mollitia ab voluptates
  tenetur, illum et fugiat eveniet inventore ea minima sequi perspiciatis itaque expedita sapiente iusto. Totam
  repudiandae nemo non, quis cumque aperiam accusamus necessitatibus soluta maxime eius eaque ullam provident suscipit
  explicabo corrupti minima quaerat corporis quidem voluptates! Non quibusdam dolorum eligendi adipisci, ut eveniet!
  Minus veritatis molestias consequatur culpa commodi in, possimus blanditiis ex corporis sint ea aliquam voluptatum
  officiis aperiam suscipit qui molestiae provident accusamus dolore! Cumque nostrum molestias fugit adipisci quis
  repudiandae. Officiis, expedita quis. Soluta quasi atque nemo reprehenderit consectetur alias vero illum odio corporis
  molestias deleniti, asperiores nostrum adipisci exercitationem obcaecati animi mollitia eligendi odit quo fugit quos?
  Odio esse sint, earum sapiente placeat assumenda mollitia repudiandae beatae eveniet laboriosam! In recusandae
  sapiente amet similique dolor iste ipsum facere id magni ducimus est qui consectetur mollitia debitis, tenetur
  voluptas eos consequatur, aperiam possimus delectus architecto. Minus, deserunt quas ullam totam vero doloribus
  accusamus nihil illum facilis eum ipsam, quod voluptatum asperiores a iure veniam quaerat dolores cupiditate eius
  atque facere nisi. Aliquid ut consequuntur odio consequatur cupiditate fugiat culpa, incidunt ipsa veritatis vero eum
  soluta? Alias quod voluptates vero, nesciunt, veniam accusantium dolore omnis molestias sint possimus necessitatibus,
  dignissimos et cumque perferendis ipsa itaque expedita rem assumenda! Eius, nihil error deserunt alias blanditiis
  placeat fugit quidem maxime labore ad animi dolore, ab ipsam cumque voluptates soluta quaerat, fugiat in consequuntur
  tenetur quisquam laborum quod! Veritatis, cupiditate aperiam incidunt porro voluptate fuga sequi quod excepturi quo
  eveniet corrupti voluptas, possimus voluptatibus vel repellat quisquam rerum magnam et cum, natus facilis adipisci
  perferendis? Ducimus, doloremque? Reprehenderit perspiciatis explicabo cum numquam deserunt, nemo quos laboriosam
  similique asperiores veritatis libero voluptatum natus consequuntur delectus neque voluptatem, autem esse consectetur
  modi itaque nisi iure, provident temporibus. Dolor recusandae rem cupiditate itaque corrupti, magni soluta nulla
  dolore, veritatis saepe ipsum! Iusto praesentium libero sapiente deleniti iure dolore temporibus. Quaerat tempora
  aliquid commodi illo dolore ipsam illum, beatae quibusdam est alias saepe perferendis? Quam culpa odit eos modi
  accusamus suscipit quia aliquid, nesciunt aspernatur dolor numquam placeat vitae dolores eum ducimus eius nobis
  distinctio non molestias natus et. Sint, sapiente nisi magnam perspiciatis cumque quae, ullam autem maxime numquam
  sunt deleniti, fugit quam repudiandae! Eos at voluptatibus voluptatem rem aliquam soluta earum, illum dignissimos,
  neque eius inventore laborum corporis distinctio iure minima laboriosam sint magnam! Error pariatur distinctio dolor,
  laboriosam dolorem quis dolore labore, fugiat nulla cupiditate ea ut nobis necessitatibus aut voluptatum dicta
  obcaecati, perspiciatis sed omnis voluptates voluptas maxime perferendis non placeat. Et atque accusantium in illum
  iusto aperiam quia. Dolore non possimus eligendi corrupti, voluptatibus fugiat sed aspernatur ipsum, modi, tempora
  porro obcaecati rem deleniti iure quam saepe. Excepturi id at aut dicta fugiat beatae! Eius magni qui, ab culpa quasi
  dicta minus dolorum fugit, quis veritatis, velit quam dolorem et officiis non iusto praesentium deleniti voluptates.
  Voluptatum deleniti voluptatibus error! Sunt magni nisi dolorem. Ab tempora optio ut suscipit voluptatem fugit eos
  laudantium, quis vero minima quaerat ipsam voluptate officia sed deserunt quasi nam sunt est laboriosam quibusdam.
  Possimus nostrum laboriosam blanditiis repellendus aut sequi ipsum repudiandae. Unde corporis odio quia sit sapiente
  aspernatur expedita consequuntur dolores, ducimus similique architecto vitae maxime facere commodi veritatis illum?
  Quam praesentium sequi doloremque vero. Quidem ab praesentium, cumque quae quas ad repellendus, voluptatem expedita
  voluptates aut, reiciendis sed quisquam fuga itaque sequi at reprehenderit quasi? Ut, eligendi? Voluptatem ipsum quis
  iusto ipsa nulla modi impedit similique, aut necessitatibus debitis ex ducimus ipsam quam repudiandae suscipit soluta
  possimus minima tempore eveniet illum nobis! Pariatur vitae est qui voluptatem quam reiciendis, reprehenderit maiores
  doloribus vero laudantium quos minus, ipsum magnam natus odit ea distinctio praesentium alias cum dignissimos
  adipisci. Tempora illum et, tempore nesciunt voluptatibus facere error sed quam, optio, ad incidunt eligendi
  reiciendis! Nihil perferendis nostrum illo ratione explicabo molestiae ex aliquid totam facere, voluptates obcaecati
  fugit, magnam, ipsa odit natus modi numquam corrupti quae est dolore pariatur ipsum eaque excepturi a! Eligendi fugit
  rerum in, aperiam facere tempore neque! Earum, hic dolore quia facere iure a veritatis quo omnis adipisci magnam eius
  ullam explicabo, reiciendis saepe error corrupti laudantium nisi fuga beatae provident mollitia dolorum obcaecati
  voluptatem quos! Iste laudantium sit nostrum explicabo accusantium voluptas? Ea dignissimos quo impedit omnis quasi,
  ab quisquam suscipit ducimus? Consequuntur dicta dolores quibusdam, dolor, dolore quaerat eum quasi assumenda cum
  natus, deserunt id doloremque. Optio officiis veniam earum laudantium, laboriosam vel! Fugit quae adipisci rem aut
  asperiores dolor molestias voluptate, deserunt, eligendi alias consequatur dicta error suscipit repellendus aliquid
  obcaecati inventore at voluptatem cupiditate perferendis repellat? Aliquam dolor eaque delectus dolores cum modi
  impedit ratione, voluptatem sint, illum quibusdam totam quis consequuntur aliquid temporibus assumenda quaerat ipsam
  ducimus corrupti reiciendis officia. Itaque, a ipsa. Repellat dolore voluptates architecto nobis non maxime quam
  nesciunt ad perferendis harum odio earum veritatis corporis necessitatibus sequi debitis molestiae vel aliquam ipsum
  aliquid, ex minima! Corporis ab reprehenderit est quasi animi voluptate saepe repellendus ratione iste iure eius neque
  dolore voluptatum nostrum facere, delectus soluta vitae ducimus amet laboriosam! Assumenda officiis eius recusandae
  praesentium, distinctio iste quam repudiandae alias optio eum commodi ipsa, odio ex cupiditate illo! Maxime optio
  excepturi voluptate dolore sunt magnam debitis id? Eveniet accusantium iusto amet corporis pariatur cum mollitia
  aliquam quidem nulla porro! Ab, consequuntur vel nemo consequatur ipsa doloribus. Voluptates suscipit voluptatum eius
  id laboriosam voluptate tempore qui doloribus, ut, dolores earum quod! Vel rerum mollitia commodi voluptas tempora.
  Nulla, doloremque. Cumque minima delectus sint molestias corporis quos voluptatum ipsam repudiandae, sed facere magnam
  omnis perspiciatis rem porro quisquam cum labore aperiam, quasi vitae. Officiis quibusdam neque soluta dolor odit
  reiciendis perferendis autem dignissimos, libero sapiente facilis inventore assumenda beatae aperiam voluptate
  consectetur aliquam quod blanditiis illum molestias pariatur? Eaque sapiente aut, consequatur est possimus et, illum
  architecto nihil nesciunt ducimus id dignissimos repudiandae repellat fugit cum velit. Cum est ad blanditiis facere
  illo quo officiis at provident magni porro asperiores, quas omnis eum veritatis quam rerum. Dolorem minus deserunt
  doloremque blanditiis delectus earum nesciunt beatae? Cum, placeat? Corrupti animi ea nesciunt quasi earum similique
  harum inventore odio illum quas voluptas repudiandae eligendi optio delectus ex eos, ducimus officiis praesentium et
  repellendus soluta minus laboriosam sunt? Nostrum, reprehenderit dicta nihil aliquid id autem obcaecati facere alias
  natus molestias commodi accusantium nisi, consectetur repellat sapiente aspernatur facilis, eligendi rerum nulla! At
  distinctio eligendi officia reiciendis neque autem eius harum praesentium illo quasi reprehenderit voluptas molestiae
  voluptatem non vero porro, fuga explicabo qui iste esse corporis, vel placeat? Voluptatem tenetur excepturi doloremque
  magni placeat autem ex dignissimos repudiandae expedita alias numquam iusto distinctio sed, ipsa, officia, ut
  molestiae facere velit nobis ipsum impedit labore laborum. Eaque fuga et perspiciatis tempora rerum odio consequatur
  repellendus voluptatibus, commodi in, ad soluta qui earum! Libero asperiores sapiente velit commodi nihil, recusandae,
  eum explicabo cum maxime atque ut modi, error pariatur nemo iste aperiam officiis! Consequuntur, culpa alias
  necessitatibus non laudantium vitae dolor fugiat veniam neque praesentium deserunt recusandae labore et, aliquam
  minima saepe possimus? Recusandae, eos. Culpa, quod recusandae consectetur voluptas natus aspernatur sequi, sunt fuga
  sed, hic itaque accusantium cupiditate vitae. Repudiandae labore corporis voluptas recusandae voluptates, vero nulla
  eos totam ad quo fugiat nostrum illum tenetur, dolores expedita dicta molestiae mollitia aliquid modi rem alias. Nulla
  facere similique consequatur autem. Sapiente aliquam, cumque optio quas quis explicabo ut eligendi facere, fuga
  cupiditate consequatur fugit voluptates provident! Quibusdam recusandae nesciunt earum quas, et explicabo vero quidem
  fuga, porro alias optio ab ratione dolore repellendus inventore nam, in exercitationem possimus excepturi eius quo
  nobis nemo modi corporis? Laboriosam labore placeat vero veniam est dolores eveniet ea quod temporibus pariatur, non
  dolore dolorem nesciunt fuga fugit molestias accusamus eius. Voluptas voluptatem natus odio recusandae cumque nemo,
  assumenda quas dolor et aliquam quis corrupti, molestias vel totam labore. Quod assumenda natus, iusto officia impedit
  vel quia veniam praesentium maiores nemo vero omnis pariatur distinctio rerum beatae modi sit. Nisi officia eligendi
  dolor iure placeat similique odit. Autem deleniti repellat, iusto quisquam vero, dicta natus neque eos molestiae
  voluptate itaque minus tenetur nesciunt amet velit inventore nisi officiis beatae reiciendis officia necessitatibus
  odio possimus libero? Harum aspernatur quod labore consequuntur sequi beatae modi quia ipsam rem corporis iusto dicta
  excepturi quasi, itaque fuga ullam ea ab nobis recusandae quaerat! Amet veniam incidunt esse, numquam voluptate eos
  quos expedita eum magni necessitatibus at cum reprehenderit voluptatibus placeat, quaerat ea similique? Unde odio
  voluptatibus quibusdam numquam? Iusto fugit molestias nemo unde exercitationem! Possimus non harum sit doloribus quam
  ipsa ab corrupti. Repudiandae eum saepe temporibus, impedit neque voluptas voluptatem nobis autem quae corrupti nihil
  dolores dignissimos tempore consequuntur ad dolorem cupiditate deleniti, accusamus ut et aliquid soluta deserunt vero?
  A error tenetur recusandae culpa omnis quibusdam aut, sapiente maxime! Recusandae nostrum nobis sequi eligendi
  praesentium ex dolores repellat, soluta modi debitis, enim, tempora possimus itaque. Accusantium sapiente, voluptates
  ab, maiores possimus commodi pariatur quidem exercitationem accusamus culpa odit fuga dolore tenetur officia. Autem,
  voluptatem. Vero, provident! Adipisci at quis tempora mollitia dolor error amet hic neque! Ipsam magnam asperiores
  repudiandae natus voluptates, facilis fugit placeat dolorum ab delectus, omnis obcaecati cupiditate. Exercitationem
  fugiat officia ipsa omnis non vel? Totam nisi magni omnis natus accusantium. Maiores ipsa quaerat ratione! Voluptatem
  sed earum minima ab repellendus iure, alias optio perspiciatis tempore sint cupiditate aut quas obcaecati, incidunt
  ullam consequuntur repellat, vitae nostrum rem doloremque? Quas ipsum velit aspernatur deleniti accusamus cumque ad
  dicta inventore suscipit eaque totam pariatur, voluptatibus ipsam blanditiis recusandae officia esse alias neque
  mollitia. Vero sint omnis minus. Consequuntur doloribus vitae ab dolore delectus officiis animi at laboriosam eaque,
  velit provident nisi, consequatur placeat illo praesentium, sed blanditiis ad deserunt accusamus aut nulla deleniti
  earum. Alias libero omnis harum, dignissimos, veritatis officia pariatur dicta quo rem et tempora praesentium nisi cum
  unde hic. Harum veritatis dolor temporibus ex voluptate quae illo et debitis quasi, quidem consequatur vero quibusdam
  repellat reprehenderit facilis facere excepturi, consectetur labore rem. Esse porro dignissimos labore. Consequuntur
  error reiciendis magni placeat saepe distinctio ducimus eum sunt! Odio tempore harum suscipit, nobis pariatur dicta
  voluptatem perspiciatis cupiditate. Placeat repudiandae enim deleniti rerum odio neque unde odit numquam delectus
  illum corrupti, recusandae pariatur minima excepturi, nihil esse accusamus eligendi ullam laborum repellat minus est
  nam voluptatibus laudantium! Libero sed eveniet impedit? Praesentium eaque omnis voluptatum magnam modi. Obcaecati,
  odio quo! Distinctio tenetur, harum illum necessitatibus cupiditate adipisci corporis facere, odio voluptatum modi
  molestias corrupti aperiam deserunt, accusamus officia nihil dolor incidunt eveniet inventore id fugit. Ipsum rem
  nulla, sed reiciendis aut eius, accusantium necessitatibus debitis voluptate magnam dolor voluptatem quisquam
  consectetur praesentium autem! Id nisi, dignissimos minus labore, perspiciatis voluptatum eos laboriosam unde aut
  molestiae temporibus laborum molestias saepe laudantium corrupti veritatis, exercitationem fuga! Vitae, quia neque
  temporibus sapiente nulla ea voluptate itaque necessitatibus dolores laborum illum, odio inventore, consequatur
  architecto! Ipsa placeat quia dolorem error amet eligendi id est ut perspiciatis enim vero in voluptate accusantium
  aliquid repellendus praesentium nobis repudiandae recusandae commodi sed quasi, cum sequi ratione officia? Fuga, odit,
  aperiam natus adipisci nisi quisquam porro corporis quidem, earum aliquid deleniti amet? Numquam hic soluta excepturi
  voluptatem est aliquam cumque nam maxime quae dignissimos! Odio repellat in iure sunt provident libero tenetur fugit.
  Recusandae perspiciatis doloribus fugit itaque ab qui aliquam vero tenetur, eaque nobis quae numquam eius minus enim
  voluptates ipsam quaerat accusantium id? Quasi nam consequuntur consectetur atque, ducimus libero voluptas iste
  accusantium, saepe hic officia possimus autem et est rem ullam tenetur expedita iure corporis at recusandae? Vitae,
  hic ipsum optio error adipisci odit! Dolor perferendis odit dolores ullam nihil architecto praesentium aliquam.
  Pariatur dolore fugiat dolores dolorem soluta expedita, deleniti optio dignissimos quidem explicabo velit iste! Eius
  blanditiis deleniti repudiandae dicta necessitatibus quidem voluptas enim mollitia aperiam ex sint praesentium in
  dignissimos adipisci odio, unde ullam veritatis eveniet ratione esse officiis voluptatem accusamus, voluptatibus
  natus. Ipsa esse exercitationem iure corrupti pariatur dolores sequi omnis. Commodi provident maiores, quam omnis nemo
  autem voluptatibus ipsa nisi animi velit ex laboriosam officia eaque? Ea sint nulla fugiat doloremque impedit,
  veritatis libero dolorum minima at quasi dolorem, iusto velit recusandae delectus suscipit debitis. Aliquid, culpa!
  Eos saepe fuga accusantium rem debitis perferendis illum a error pariatur sit aut sequi sint veniam ut asperiores
  laboriosam fugit dolore nulla, nisi omnis vero corrupti. Saepe officiis dolore cum repellendus ex provident adipisci.
  Accusantium aspernatur sequi ullam, magnam est beatae explicabo aliquid sit assumenda sunt? Id, exercitationem
  nostrum! Earum, eveniet quae rerum delectus aperiam nihil blanditiis perferendis illum laborum similique quisquam qui
  sed quo? Debitis voluptate cum officia, ab quo quisquam animi minus similique ad quasi saepe quae id esse consequuntur
  libero fugiat voluptatem error repellendus ducimus consequatur sit veniam ipsa cumque? Libero minima consequatur at
  beatae dolorem ex pariatur itaque illo sit culpa rerum quasi, incidunt fugit iusto possimus, quas cum? Nulla nemo
  dolores similique autem quae maxime consequuntur qui eius quisquam distinctio voluptatibus, itaque quod pariatur
  aliquid commodi id, ea ex velit reprehenderit debitis quo? Nam voluptate sequi quod in, fuga quidem voluptatum ratione
  totam, porro voluptatibus deserunt ut autem accusamus officia quo. Eius sint aliquam quam perferendis, eum, id fugiat
  distinctio, voluptate fugit alias aspernatur aut in laboriosam ab earum facilis optio consequatur? Vero ad tempore
  neque doloremque dolor omnis necessitatibus voluptatibus eligendi pariatur molestiae voluptas itaque, nihil magni
  quos, aliquid modi ea recusandae. Vero a, iste ullam porro perferendis aliquid voluptates maxime sint consequuntur
  magnam reprehenderit natus non odit veritatis laudantium sapiente dolore quibusdam id architecto quod accusantium
  laborum cumque perspiciatis? Blanditiis eos, tenetur mollitia iusto assumenda sequi dolore praesentium magnam dolorum
  cum quod odit animi officia facilis commodi! Aperiam odio quos ipsa, aspernatur placeat fugiat eos eligendi incidunt
  fugit quis nemo. Nam minus reprehenderit, nostrum maiores fugit natus repellat eaque qui minima suscipit illum sit!
  Possimus sunt alias veritatis rem, optio quidem expedita neque voluptatibus nobis esse a soluta aperiam? Eaque optio,
  quas delectus cum ea molestias veniam dolore nam, corrupti fuga earum consequatur animi quaerat consequuntur
  cupiditate a. Minus adipisci ab ullam, nihil, iste excepturi eligendi eaque velit, soluta autem perferendis? Dolore
  facilis delectus voluptas iusto ad unde corporis accusantium quibusdam earum, quis nesciunt quisquam quam voluptates
  voluptate. Pariatur, accusamus blanditiis aperiam quaerat enim, possimus eaque harum laboriosam consequatur tempora
  qui voluptates alias! Esse cum temporibus incidunt nihil, optio laboriosam, aliquam voluptate velit a iste nam,
  necessitatibus quam minima ut earum modi obcaecati deleniti eos vero explicabo voluptates impedit quos distinctio!
  Accusamus voluptatum mollitia vero ut praesentium odio vel eaque. Perferendis totam quaerat sed ducimus impedit id
  voluptatum, nam delectus. Molestiae earum, magni adipisci deleniti possimus vitae excepturi? Ut explicabo ullam, hic
  recusandae doloremque nemo itaque. Iure esse autem doloribus eius porro, saepe voluptatem quisquam vero hic
  praesentium vitae necessitatibus iste nisi, maiores quaerat suscipit soluta distinctio perspiciatis? Eos consequuntur
  dolore ipsa dolorem temporibus recusandae sed quasi, architecto doloremque, nobis voluptate maiores, dolor cum quidem
  fugit odio molestias aut! Dignissimos possimus exercitationem quisquam nisi, assumenda, repellendus magni ab quam sint
  animi odio nesciunt officia. Officia eum rem itaque vitae accusamus! Eum quod ullam totam sunt iusto, deleniti dolore
  quisquam sint perferendis exercitationem officiis amet enim tempora temporibus dolores? Cupiditate eaque accusantium
  labore amet.</p>